# Some extensions
*.jpg
*.png
*.bmp
*.bmp
*.tmp
*..~vsdx

# OrmTest
Laboratorium/src/OrmTest/OrmTest/bin
Laboratorium/src/OrmTest/OrmTest/obj
Laboratorium/src/OrmTest/packages
Laboratorium/src/OrmTest/.vs

# doc
Wyniki/Feedback