# Some extensions
*.xlsx
*.docx
*.doc
*.jpg
*.png
*.bmp
*.bmp
*.tmp
*..~vsdx

# OrmTest
Laboratorium\src\OrmTest\bin
Laboratorium\src\OrmTest\obj
Laboratorium\src\OrmTest\packages
Laboratorium\src\OrmTest\.vs